/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Jan-2019, 12:14:29
    Author     : owenkelbie
*/

html{
   
    margin:  auto;
    height: auto;
}

div.Staff{
    postion: left;
}

div.Exam{
    postion: right;
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

body {
  background: lightblue url("queen-mother-building large.jpg") no-repeat fixed center;
   background-size: 1920px 970px;
   
}


form{
    display: inline-block;
    padding: 10px 5px;
}
div{
    float:top;

}

div.img{
    position: absolute;   
   
}

div.plain{
    border-style:none;

    }

    div.border{
        width: auto;
        height: auto;
        border-left-style: solid ;
        border-left-color: powderblue;
        border-right-style: solid ;
        border-right-color: powderblue;
        border-width: 50px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        display: block;
    }
    
    div.footer{
        position:fixed;
        bottom:0;
        left:0;
    }
    
    div.increase{
        color:white;
    }
    
    div.decrease{
        color:white;
    }
    .datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; }.datagrid table td, .datagrid table th { padding: 0px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4365E2), color-stop(1, #4365E2) );background:-moz-linear-gradient( center top, #4365E2 5%, #4365E2 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4365E2', endColorstr='#4365E2');background-color:#4365E2; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #4365E2; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }